fastapi
uvicorn[standard]
langchain==0.1.16
langchain-community 
langchain-google-genai 
python-dotenv 
requests 
pydantic
chromadb
fastapi
uvicorn[standard]
langchain
langchain-commu
langchain-core 
langchain-google-genai 
python-dotenv 
requests 
pydantic
chromadb
