# Framework et serveur
fastapi
uvicorn[standard]

# LangChain & intégrations
langchain==0.1.16
langchain-community==0.0.29
langchain-core==0.1.52
langchain-google-genai

# Vector Store & embeddings
chromadb

# Utilitaires
python-dotenv
requests
pydantic